 .card{
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,rgba(0, 0, 0, 0.12) 0px -12px 30px,rgba(0, 0, 0, 0.12) 0px 4px 6px,rgba(0, 0, 0, 0.17) 0px 12px 13px,rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.pagination .paginate_button .page-item{
    padding: 5px !important;
    border-radius: 25px !important;
}
/*
.card::before{
    position: absolute;
    width: 150%;
    height: 150%;
    background: conic-gradient(from 90deg, rgb(0 0 0 / 0%) 70%, rgb(11 78 230 / 9%) 80%, rgb(0 220 255) 100%);
    content: '';
    left: -5%;
    top: -70%;
    animation: rotate 4s infinite linear;
} */

/* .card::after {
    position: absolute;
    width: 94%;
    height: 94%;
    background-color: white;
    content: '';
    left: 3%;
    top: 3%;
} */

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}
